page-fertilizer-calibration {
    .result{
		background-color: color($colors, primary);
		border-radius: 0.6rem;
		padding: 0.8rem;
		color: white;
		text-align: center;
	}
	.main{
		height: 100%;
	}
	
}