home-buttons-popover {
	button{
		width: 100%;
		padding-right: 1.6rem!important;
		padding-left: 1.6rem!important;
	}

	@media (max-width: 835px) {
        .md-button{
            display: block;
        }

      }
      
    @media (min-width: 836px) {
        .md-button{
            display: none;
        }
    }


    @media (max-width: 752px) {
        .sm-button{
            display: block;
        }

      }
      
    @media (min-width: 753px) {
        .sm-button{
            display: none;
        }
    }
}
